canvas {
    margin: auto;
    display: block;
    position: absolute;
    border: 1px solid black;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

* {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    overflow: hidden;
}